@import url("../css/root.css");

.gap-12 {
  gap: 12px;
}

.gap-15 {
  gap: 15px;
}

.gap-36 {
  gap: 36px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-115 {
  margin-top: 115px;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.max-w-485 {
  max-width: 485px;
}

.max-w-573 {
  max-width: 573px;
}

/* ---------------------------------------------- header -------------------------------------------------- */

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/png/Hero.png");
}

.commen-btn {
  width: 150px;
  height: 56px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.submit-btn,
.header-h {
  background-color: transparent;
  background: linear-gradient(146.79deg, #f4ead8 0%, #e0b764 97.77%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.submit-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 150px;
  height: 1px;
  background: linear-gradient(146.79deg, #f4ead8 0%, #e0b764 97.77%);
  transition: all 100ms linear;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 3px;
}

.nav-list a,
.header-p {
  color: #b2afac;
}

.header-p {
  max-width: 436px;
}

.submit-txt {
  color: #b0aeac;
}

/* --------------------------------------------- section1 price ---------------------------------------------- */

.sec1-box {
  min-height: 290px;
  padding: 44px 51px 38px 51px;
  border-radius: 16px;
  transform: translateY(-89px);
  background-color: var(--white-color);
  box-shadow: 0px 4px 20px 0px #b6b6b640;
}

.sec1-box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(
    146.26deg,
    rgba(238, 221, 191, 0.32) 6.74%,
    rgba(199, 138, 17, 0.32) 110.03%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.commen-prize-svg {
  background: linear-gradient(146.79deg, #f4ead8 0%, #e0b764 97.77%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.prize-txt {
  color: #1a1a1a;
}

.prize-card1 {
  width: fit-content !important;
}

/* --------------------------------------------- video section two -------------------------------------------- */

.sec2-box {
  padding: 15px;
  background: linear-gradient(
    140.31deg,
    rgba(198, 177, 139, 0.6) -25.54%,
    rgba(255, 187, 0, 0.144) 54.57%,
    rgba(255, 164, 0, 0.6) 136.37%
  );
  width: 948px;
  height: 533px;
  border-radius: 6px;
}

/* --------------------------------------------- writing section three -------------------------------------------- */

.sec3-h {
  color: #090909;
  max-width: 524px;
}

.sec3-p {
  color: #5f5f5f;
}

.sec3-box {
  padding: 18px 32px;
}

.sec3-box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(146.79deg, #f4ead8 0%, #e0b764 97.77%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.sec3-box-p,
.profile-p,
.sec3-p2 {
  color: #5f5f5f;
}

/* --------------------------------------------- corona section four -------------------------------------------- */

.section4 {
  background-image: url("../images/png/section4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec4-h,
.corona-img-h {
  background-color: transparent;
  background: linear-gradient(
    146.26deg,
    #eeddbf 6.74%,
    #c78a11 110.03%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.sec4-p {
  max-width: 662px;
  color: #b3b0ac;
}

.corona-one-bg {
  width: 223px;
  height: 143px;
}

.corona-p {
  color: #d7c8ae;
}

.corona-txt {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -21%);
  width: 223px;
  height: 143px;
}

.sec4-basic-p {
  color: #fcf9f6;
}

.paper-bx-svg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(146.26deg, #eeddbf 6.74%, #c78a11 110.03%);
}

.paper-h {
  color: #fcf9f6;
}

.paper-p {
  color: #b5b1ad;
}

.paper-box {
  background: #ca99440a;
  min-height: 100%;
}

.paper-box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  border: 0.5px solid;
  background: linear-gradient(
    146.26deg,
    rgba(238, 221, 191, 0.32) 6.74%,
    rgba(199, 138, 17, 0.32) 110.03%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
